@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  text-align: center;
  background-color: rgb(59, 57, 75);
}
a {

}
li {
  float: left;
}
li a {
  font-family: "Lato";
  text-decoration: none;
  font: 500;
  font-size: 4vw;
  padding-right: 2vw;
  padding-left: 3.75vw;
  padding-bottom: 2vw;
  color: rgb(255, 255, 255);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(52, 52, 63);
  position: fixed;
  top: 0vw;
  left: 0;
  height: 6vw;
  width: 100vw;
}